# This is Git's per-user configuration file.
[user]
	email = mail@kevinschiffer.com
	name = Kevin Schiffer
	signingkey = F42D435A880F35A8B54D6B7BEADA84BCE6BB4066
#	signingkey = DBA5C8EE15992E70

[alias]
  b           = branch
  ca          = commit . -v
  c           = commit -v
  cm          = commit -m
  graph       = log --graph --pretty=format:'%C(yellow)%h %C(black bold)%d %Creset%s' --all
  rst         = reset --hard HEAD
  lg          = log --oneline
  lgg         = log --graph --pretty=format:'%C(yellow)%h%C(auto)%d%Creset %s %C(white)- %an, %ar%Creset'
  nb          = checkout -b
  s           = status -s
  undo-commit = reset --soft HEAD^
  cp          = cherry-pick
  figg        = diff
  rb          = rebase
  rbm         = rebase ttn/master -i
  rbc         = rebase --continue

# Delete local branches that have been merged into develop
# dmb         = branch --merged develop | egrep -v '^\s*\*?\s*develop$' | xargs git branch -d

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = always

[color "branch"]
  current = yellow bold
  local = green
  remote = blue
  plain = normal

[color "diff"]
  plain = normal
  meta = bold
  frag = blue
  old = red
  new = green
  commit = yellow
  whitespace = normal red

[color "decorate"]
  branch = black bold
  remoteBranch = black bold
  tag   = black bold
  stash = black bold
  HEAD  = black bold

[color "status"]
  header  = black bold
  added   = green
  changed = yellow
  branch  = magenta
  untracked = red
  nobranch  = red

[commit]
	gpgSign = true
[gpg]
	program = gpg
[push]
	default = current
[core]
#	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/kevinschiffer/.gitignore
	editor = nvim
	autocrlf = false
[rerere]
	enabled = true
